#include "NNA_StdBuild_Native.xcconfig"
#include "NNA_StdBuild_Warnings.xcconfig"

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = default
GCC_OPTIMIZATION_LEVEL = 0
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
DEBUG_INFORMATION_FORMAT = dwarf
GCC_ENABLE_SYMBOL_SEPARATION = NO
OTHER_CFLAGS = $(OTHER_CFLAGS) -ferror-limit=0
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $NNA_WARNING_CPLUSPLUSFLAGS $WARNING_CFLAGS -fno-inline-functions
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
CLANG_CXX_LANGUAGE_STANDARD=c++14

VALID_ARCHS = i386
ARCHS=i386
OBJROOT=$PROJECT_DIR/Out32/XcodeIntermediateFiles
CONFIGURATION_TEMP_DIR=$OBJROOT/$CONFIGURATION
SYMROOT=$PROJECT_DIR/Out32
SHORT_CONFIG=Debug
OUTPUT_NAME=Out32

