#include "NNA_BaseConfiguration.xcconfig"

ARCHS = $(ARCHS_STANDARD)

CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++

MACOSX_DEPLOYMENT_TARGET_0610 = 10.9
MACOSX_DEPLOYMENT_TARGET_0500 = 10.7
MACOSX_DEPLOYMENT_TARGET_0460 = 10.7
MACOSX_DEPLOYMENT_TARGET_0450 = 10.7
MACOSX_DEPLOYMENT_TARGET_0440 = 10.7
MACOSX_DEPLOYMENT_TARGET_0430 = 10.6
MACOSX_DEPLOYMENT_TARGET_0420 = 10.6
MACOSX_DEPLOYMENT_TARGET_0410 = 10.6
MACOSX_DEPLOYMENT_TARGET_0400 = 10.5
MACOSX_DEPLOYMENT_TARGET_0320 = 10.5

REZ_PREPROCESSOR_DEFINITIONS = REZ_FOR_MACHO=1
SHARED_PRECOMPS_DIR = $(CONFIGURATION_TEMP_DIR)/PrecompiledHeader

DEBUG_INFORMATION_FORMAT = dwarf

GCC_VERSION_0310 = use_xcode_5_0_1
GCC_VERSION_0320 = use_xcode_5_0_1
GCC_VERSION_0410 = use_xcode_5_0_1
GCC_VERSION_0420 = use_xcode_5_0_1
GCC_VERSION_0430 = use_xcode_5_0_1
GCC_VERSION_0440 = use_xcode_5_0_1
GCC_VERSION_0450 = use_xcode_5_0_1
GCC_VERSION_0460 = use_xcode_5_0_1
GCC_VERSION_0500 = com.apple.compilers.llvm.clang.1_0

GCC_VERSION	= $(GCC_VERSION_$(XCODE_VERSION_MINOR))
GCC_MODEL_TUNING = 

LD_OPENMP_FLAGS_0320 = -fopenmp
LD_OPENMP_FLAGS_0420 = 
LD_OPENMP_FLAGS_0430 =
LD_OPENMP_FLAGS_0440 =
LD_OPENMP_FLAGS_0450 = 
LD_OPENMP_FLAGS_0460 = 
LD_OPENMP_FLAGS_0500 =
LD_OPENMP_FLAGS = $(LD_OPENMP_FLAGS_$(XCODE_VERSION_MINOR))

ENABLE_OPENMP_SUPPORT_0320 = YES
ENABLE_OPENMP_SUPPORT_0420 = NO
ENABLE_OPENMP_SUPPORT_0430 = NO
ENABLE_OPENMP_SUPPORT_0440 = NO
ENABLE_OPENMP_SUPPORT_0450 = NO
ENABLE_OPENMP_SUPPORT_0460 = NO
ENABLE_OPENMP_SUPPORT_0500 = NO
ENABLE_OPENMP_SUPPORT = $(ENABLE_OPENMP_SUPPORT_$(XCODE_VERSION_MINOR))

BASE_APP_IDENTIFIER = com.yourcompany
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp;

CLANG_ANALYZER_DEADCODE_DEADSTORES = NO;
CLANG_ANALYZER_GCD = NO;
CLANG_ANALYZER_MEMORY_MANAGEMENT = YES

CLANG_ANALYZER_OBJC_ATSYNC = NO
CLANG_ANALYZER_OBJC_COLLECTIONS = NO
CLANG_ANALYZER_OBJC_INCOMP_METHOD_TYPES = NO
CLANG_ANALYZER_OBJC_NSCFERROR = NO
CLANG_ANALYZER_OBJC_RETAIN_COUNT = YES
CLANG_ANALYZER_OBJC_SELF_INIT = NO
CLANG_ANALYZER_OBJC_UNUSED_IVARS = NO

CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_VFORK = NO
CLANG_ANALYZER_SECURITY_KEYCHAIN_API = NO




CLANG_ENABLE_MODULES = YES
//LLVM_LTO = YES
LLVM_VECTORIZE_LOOPS=YES
