#include "NNA_StdBuild_Native.xcconfig"

DEAD_CODE_STRIPPING = NO
ONLY_LINK_ESSENTIAL_SYMBOLS = NO
DEPLOYMENT_POSTPROCESSING = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = default
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
GCC_OPTIMIZATION_LEVEL = s
SEPARATE_STRIP = NO
GCC_WARN_UNINITIALIZED_AUTOS = NO
GENERATE_PROFILING_CODE = YES
WARNING_CFLAGS = -w

