#include "NNA_StdBuild_Native.xcconfig"

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = default
GCC_OPTIMIZATION_LEVEL = 0
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
DEBUG_INFORMATION_FORMAT = dwarf
GCC_ENABLE_SYMBOL_SEPARATION = NO
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) $WARNING_CFLAGS -fno-inline-functions -Wno-write-strings