# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!7z.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app
!7z.exe
!buildvwr.exe

# Visual Studio specific
*.vs
*_Output
*.user

# Mac & Xcode specific
*.DS_Store
*.xcworkspacedata
*.xcuserstate
*.xcsettings
*.xcscheme
xcschememanagement.plist
*.xcbkptlist

