#include "NNA_StdBuild_Native.xcconfig"

DEAD_CODE_STRIPPING = YES
ONLY_LINK_ESSENTIAL_SYMBOLS = NO
DEPLOYMENT_POSTPROCESSING = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_DEBUGGING_SYMBOLS = full
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
GCC_OPTIMIZATION_LEVEL = 3
SEPARATE_STRIP = NO
WARNING_CFLAGS = -w
GCC_INLINES_ARE_PRIVATE_EXTERN=NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_ENABLE_SYMBOL_SEPARATION = YES
OTHER_CFLAGS = $(OTHER_CFLAGS) -ferror-limit=0
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS)
CLANG_CXX_LANGUAGE_STANDARD=c++14

VALID_ARCHS = i386
ARCHS=i386
OBJROOT=$PROJECT_DIR/Out32/XcodeIntermediateFiles
CONFIGURATION_TEMP_DIR=$OBJROOT/$CONFIGURATION
SYMROOT=$PROJECT_DIR/Out32
SHORT_CONFIG=Release
OUTPUT_NAME=Out32

