#include "NNA_StdBuild_Release.xcconfig"

ONLY_ACTIVE_ARCH = NO
SHORT_CONFIG = Release

SYMROOT = $(PROJECT_DIR)/$(OUTPUT_NAME)
CONFIGURATION_BUILD_DIR = $(SYMROOT)/LibMac/$(SHORT_CONFIG)

OBJROOT = $(PROJECT_DIR)/$(OUTPUT_NAME)/XcodeIntermediateFiles/LibMac
CONFIGURATION_TEMP_DIR = $(OBJROOT)/$(SHORT_CONFIG)
