#include "NNA_StdBuild_Debug.xcconfig"

ONLY_ACTIVE_ARCH = YES
SHORT_CONFIG = Debug

SYMROOT = $(PROJECT_DIR)/$(OUTPUT_NAME)
CONFIGURATION_BUILD_DIR = $(SYMROOT)/LibMac/$(SHORT_CONFIG)

OBJROOT = $(PROJECT_DIR)/$(OUTPUT_NAME)/XcodeIntermediateFiles/LibMac
CONFIGURATION_TEMP_DIR = $(OBJROOT)/$(SHORT_CONFIG)
